export PG_DB_NAME=api
export PG_USER=routes
export PGPASSWORD=routes
export PGRST_ANON_ROLE=web_anon
export PGRST_DB_URI="postgres://routes:routes@db:5432/api"
export PGRST_OPENAPI_SERVER_PROXY_URI="http://127.0.0.1:3000"
export API_URL="http://localhost:3000/"
export TELEGRAM_TOKEN="abcde:12345"
export TELEGRAM_USERNAME="@CHANGEME"
